body, html{
	margin:0;
	padding:0;
	background-color:#211865;
}
h1{
text-align:center;
color:white;
font-family:'Times New Roman', Times, serif;
}
header{
background-color:red;
}
#head{
background-color:red;
}
